<h1>Listing feeds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= form_tag feed_path, :method => 'get' do %>
      <%= select_tag "category", raw('
      <option>選択してください</option>
      <option id="top" value="top">主要</option>
      <option id="dom" value="dom">国内</option>
      <option id="int" value="int">海外</option>
      <option id="eco" value="eco">IT 経済</option>
      <option id="ent" value="ent">芸能</option>
      <option id="spo" value="spo">スポーツ</option>
      <option id="52" value="52">映画</option>
      <option id="gourmet" value="gourmet">グルメ</option>
      <option id="love" value="love">女子</option>
      <option id="trend" value="trend">トレンド</option>') %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    <% @feeds.each do |feed| %>
      <a href=<%= "/feeds/#{feed.id}" %>>
        <tr>
          <td>
            <% if feed.category == "52" %>
              <%= "映画" %>
            <% else %>
              <%= feed.category %>
            <% end %>
           </td>
          <td>
            <a href=<%= "/feeds/#{feed.id}" %>>
              <%= feed.title %>
            </a>
          </td>
          <td><%= feed.link %></td>
          <td><%= feed.desc %></td>
          <td><%= feed.entrydate %></td>
        </tr>
      </a>
    <% end %>
  </tbody>
</table>

<br>
<script type="text/javascript">
  console.log("<%= params[:category] %>")
  window.onload = function(){
    add_selected = document.getElementById("<%= params[:category] %>");
    add_selected.selected = true;
  }
</script>
