<div class="wrap">
	<h1 class="feed_title"><%= @feed.title %></h1>
	<p class="entrydate"><%= @feed.entrydate %></p>

	<div class="feed_content">
		<%= @doc.each do |doc| %>
			<%= doc %><br><br>
		<% end %>
	</div>

	<br><br>
	<p>元の記事を読む</p>
	<a href="<%= @feed.link %>" class="feed_link"><%= @feed.link %></a>
	<br><br>


<h2 class="relational_title">関連記事</h2>
<% @relation_feeds.each do |relation_feed| %>
	<a href="/feeds/<%= relation_feed[0].id %>">
		<div class="feed">
        	<h2><%= relation_feed[0].title %></h2>
        	<p class="date"><%= relation_feed[0].entrydate %></p>
        	<p class="desc"><%= relation_feed[0].desc %></p>
        	<p class="link">詳しく見る</p>
		</div>
	</a>
<% end %>
</div>
