<!DOCTYPE html>
<html>
<head>
  <title>Railsrss</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="wrap">
  	<a href="/feeds">
	    <h1>Line Intern RSS-Reader　
	    <% if params[:category] == "all" %>全て 
	    <% elsif params[:category] == "top" %>主要
	    <% elsif params[:category] == "dom" %>国内
	    <% elsif params[:category] == "int" %>海外
	    <% elsif params[:category] == "eco" %>IT 経済
	    <% elsif params[:category] == "ent" %>芸能
	    <% elsif params[:category] == "spo" %>スポーツ
	    <% elsif params[:category] == "52" %>映画
	    <% elsif params[:category] == "gourmet" %>グルメ
	    <% elsif params[:category] == "love" %>女子
	    <% elsif params[:category] == "trend" %>トレンド
	    <% end %>
	    </h1>
	</a>
  </div>
</div>
<div class="nav">
  
  <ul>
  <div class="wrap">
      <li><%= link_to '全て', feeds_path(category: "all") %></li>
      <li><%= link_to '主要', feed_path(category: "top") %></li>
      <li><%= link_to '国内', feed_path(category: "dom") %></li>
      <li><%= link_to '海外', feed_path(category: "int") %></li>
      <li><%= link_to 'IT 経済', feed_path(category: "eco") %></li>
      <li><%= link_to '芸能', feed_path(category: "ent") %></li>
      <li><%= link_to 'スポーツ', feed_path(category: "spo") %></li>
      <li><%= link_to '映画', feed_path(category: "52") %></li>
      <li><%= link_to 'グルメ', feed_path(category: "gourmet") %></li>
      <li><%= link_to '女子', feed_path(category: "love") %></li>
      <li><%= link_to 'トレンド', feed_path(category: "trend") %></li>
      </div>
    </ul>
</div>

<%= yield %>


</body>
</html>
